<div data-controller="search">

  <h2> By Name </h2>
  <input data-search-target="name" type="text">
  <button data-action="click->search#name">Search</button>

  <h2> By State </h2>
  <input data-search-target="district" type="text">
  <button data-action="click->search#district">Search</button>

  <h2> Result </h2>
  <span data-search-target="output"></span>
</div>